# Exploratory Data Analysis

This notebook is for doing data checks and quick visualizations.

In [1]:
# standard import
import duckdb

# establish database connections
conn = duckdb.connect("../data/lake/database.duckdb")

## Overview

Load tables and show distribution.

In [5]:
# climate_atmosphere data
climate_df = conn.sql("""
    SELECT
        date,
        adm3_en,
        adm3_pcode,
        adm4_en,
        adm4_pcode,
        tave,
        pr
    FROM public.project_cchain_climate_atmosphere_clean
    WHERE data
    ORDER BY date
    LIMIT 5;
    """).fetchdf()

climate_df

,date,adm3_en,adm3_pcode,adm4_en,adm4_pcode,tave,pr
0,2003-01-01,Dagupan City,PH015518000,Barangay II (Nueva),PH015518003,26.85,0.0
1,2003-01-01,Dagupan City,PH015518000,Bacayao Sur,PH015518002,26.85,0.0
2,2003-01-01,Dagupan City,PH015518000,Bolosan,PH015518006,26.85,0.0
3,2003-01-01,Dagupan City,PH015518000,Barangay IV (Zamora),PH015518004,26.85,0.0
4,2003-01-01,Dagupan City,PH015518000,Bacayao Norte,PH015518001,26.85,0.0

In [8]:
# dengue data
dengue_df = conn.sql("""
    SELECT *
    FROM public.project_cchain_disease_pidsr_totals_clean
    WHERE disease_common_name = 'RABIES'
    LIMIT 5;
    """).fetchdf()

dengue_df

,uuid,date,adm1_en,adm1_pcode,adm2_en,adm2_pcode,adm3_en,adm3_pcode,disease_icd10_code,disease_common_name,case_total
0,DPSRT00B6D0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A82,RABIES,0
1,DPSRT00B6D0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A82,RABIES,0
2,DPSRT00B6D0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A82,RABIES,0
3,DPSRT00B6D0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A82,RABIES,0
4,DPSRT00B6D0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A82,RABIES,0

In [12]:
# dengue data
dengue_df = conn.sql("""
    SELECT *
    FROM public.project_cchain_disease_pidsr_totals_clean
    WHERE disease_common_name = 'DENGUE FEVER'
    LIMIT 5;
    """).fetchdf()

dengue_df

,uuid,date,adm1_en,adm1_pcode,adm2_en,adm2_pcode,adm3_en,adm3_pcode,disease_icd10_code,disease_common_name,case_total
0,DPSRT006DB0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A90-A91,DENGUE FEVER,9
1,DPSRT006DB0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A90-A91,DENGUE FEVER,9
2,DPSRT006DB0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A90-A91,DENGUE FEVER,9
3,DPSRT006DB0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A90-A91,DENGUE FEVER,9
4,DPSRT006DB0,2008-01-07,Region I,PH010000000,Pangasinan,PH015500000,Dagupan City,PH015518000,A90-A91,DENGUE FEVER,9